body{
  font-family: 'quicksand', sans-serif;
  font-weight: 600;
  background-color:rgb(39, 39, 39);

}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff00;
  padding: 50px;
  margin:auto;
  width: min(60%,90em);
}

.navbar-brand {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


.logz{

}


.navbar-menu li {
  margin-right: 50px;
}

.navbar-menu li:last-child {
  margin-right: 0;
}

.navbar-menu li a {
  color: #b6b6b6;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.2s ease-in-out;
}

.navbar-menu li a:hover {
  color: #ffffff;
}


.title{
    display: flex;
    font-family: 'quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    margin:auto;
    width: min(60%,90em);
    color: #e4e4e4;
}


.grid-3-colums{
    /* background-color: blueviolet;? */

    margin:1rem auto;
    width: min(60%,90em);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 15rem 15rem 15rem 15rem 15rem 15rem 15rem;
    gap: 0.4em;
}



@media only screen and (min-width: 601px) {
  div.title {
    font-size: 80px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  div.title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  div.grid-3-colums {
    font-size: 20px;
    width: min(90%,90em);
  }
}


body {
  margin: 0;
}

.image-grid {
  --gap: 20px;
  --num-cols: 3;
  --row-height: 400px;
  -webkit-padding-start: 3rem;

  box-sizing: border-box;
  padding: 8rem;

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
} */

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
    padding: 1rem;
  }
}

